@model WebApplication4.Dtos.BookEditDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div>
    <a asp-action="Index" class="action-link">
        <img src="~/images/icons/arrow-left-solid.svg" alt="Back" />
    </a>
</div>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                  
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                  
                <label asp-for="NumberOfPages" class="control-label"></label>
                <input asp-for="NumberOfPages" class="form-control" />
                <span asp-validation-for="NumberOfPages" class="text-danger"></span>
            </div>
            <div class="form-group">
                  
                <label asp-for="PublishDate" class="control-label"></label>
                <input asp-for="PublishDate" class="form-control" />
                <span asp-validation-for="PublishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Genres</label>
                @{
                    var i = 0;
                }
                @foreach (var genre in Model.AvailableGenres) // Iterate over ALL available genres
                {
                       <div class="genre-item">
                            <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="SelectedGenreIds[@i]" value="@genre.GenreId" id="genre-@genre.GenreId"
                                @(Model.Genres.Any(g => g.GenreId == genre.GenreId) ? "checked" : "")> @* Check if selected *@
                                <label class="form-check-label" for="genre-@genre.GenreId">@genre.GenreName</label>
                                <input type="hidden" name="SelectedGenreIds[@i]" value="00" />
                            </div>
                        </div>
                     i++; 
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="search-button" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
