@model IEnumerable<WebApplication4.Dtos.BookDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a> @* This might need to be updated if your Create action also uses DTOs *@
</p>
<form asp-controller="WebBooks" asp-action="Search" method="post">
    <input type="text" name="searchstring" placeholder="Search..." />
    <button type="submit">Search</button>
</form>
<partial name="_BookTable" model="Model" />