@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
</div>
<div class="col-md-5">
    
</div>
<div class="top-right-icon">
    <a asp-area="Identity" asp-page="/Account/Manage/Index"> <i class="bi bi-person-circle"></i> </a>
    <a asp-area="Identity" asp-page="/Account/Register" class="login-register-button">Register</a>
    <a asp-area="Identity" asp-page="/Account/Login" class="login-register-button">Login</a>
</div>
